.body{
  max-width: fit-content;
  max-height: fit-content;
}


.faceBook{
  letter-spacing: -2px;
color: royalblue;
  position: fixed;
  top: 300px ;
  left: 230px;
  font-size: 90px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.facebook-text{
  font-size: 20px;
position: fixed;
top: 370px;
left: 230px;
font-size: 35px;
color: #1c1e21;
letter-spacing: 1px;
}
.facebook-text1{
  font-size: 20px;
    position: fixed;
    top: 415px;
    left: 230px;
    font-size: 35px;
    color: #1c1e21;
    letter-spacing: 1px;
}
